<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width">
<meta charset="UTF-8">
<title></title>
<style>
* { margin: 0; padding: 0; }
#main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.intro {
  text-align: center;
  color: white;
}
#log {
  font-size: 8px;
}
</style>
</head>
<body>
  <div id="main">
    <pre id="log"></pre>
  </div>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
